@import "tailwindcss";

:root {
  --background: #04090D;
  --hero-overlay: 4, 9, 13;
  --foreground: #171717;
  --transparent-green: #224A3833;

  --green: #2D7E4B;
  --text-green: #447544;
  --elegant-green: #DAFFF1;
  --gradient-bright-green: #0BDB51;
  --gradient-dark-green: #06752B;

  --gradient-dark: #141517;
  --dark-blue: #283F5C;


  --glass-bg: #8b8b8b0c;
  --glass-border: rgba(255, 255, 255, 0.05);
}

@font-face {
  font-family: 'Eloran';
  src: url('/fonts/eloran-regular-webfont.woff') format('woff'),
    url('/fonts/eloran-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;

}

.letterSpacing {
  letter-spacing: 1px;
}